<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>carte</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="barCloseModal">
    <ion-buttons style="width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;">
      <!-- <ion-back-button style="color: white !important;"></ion-back-button> -->

      <ion-icon name="locate" id="end"></ion-icon>
      <ion-button (click)="closeModal()">
        <ion-icon slot="end" name="close" id="start"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <div id="mapId" style="width:100%; height:100vh;"></div>

</ion-content>
