<ion-header>
  <ion-toolbar class="header">
    <ion-title>notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item style="margin-bottom: 5px;">
    <ion-thumbnail class="ion-margin-end">
      <img src="../../../assets/images/bran2.png" style="border-radius: 50%;" />
    </ion-thumbnail>
    <ion-label href="#" class="ion-text-wrap" style="font-weight: 650;"><a href="#" style="    text-decoration: none;
      color: black;">Nouveau contenu ajouté</a> </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="deleteNote()">
        <ion-icon slot="end" name="trash" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-item style="margin-bottom: 5px;">
    <ion-thumbnail class="ion-margin-end">
      <img src="../../../assets/images/bran2.png" style="border-radius: 50%;" />
    </ion-thumbnail>
    <ion-label href="#" class="ion-text-wrap" style="font-weight: 650;"><a href="#" style="    text-decoration: none;
      color: black;">Nouveau contenu ajouté</a> </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="deleteNote()">
        <ion-icon slot="end" name="trash" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-item style="margin-bottom: 5px;">
    <ion-thumbnail class="ion-margin-end">
      <img src="../../../assets/images/will_3D.png" style="border-radius: 50%;" />
    </ion-thumbnail>
    <ion-label href="#" class="ion-text-wrap" style="font-weight: 650;"><a href="#" style="    text-decoration: none;
      color: black;">Nouveau contenu ajouté</a> </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="deleteNote()">
        <ion-icon slot="end" name="trash" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-item style="margin-bottom: 5px;">
    <ion-thumbnail class="ion-margin-end">
      <img src="../../../assets/images/willy.png" style="border-radius: 50%;" />
    </ion-thumbnail>
    <ion-label class="ion-text-wrap" style="font-weight: 650;"><a href="#" style="    text-decoration: none;
      color: black;">Nouveau contenu ajouté</a> </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="deleteNote()">
        <ion-icon slot="end" name="trash" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-item style="margin-bottom: 5px;">
    <ion-thumbnail class="ion-margin-end">
      <img src="../../../assets/images/bran2.png" style="border-radius: 50%;" />
    </ion-thumbnail>
    <ion-label href="#" class="ion-text-wrap" style="font-weight: 650;"><a href="#" style="    text-decoration: none;
      color: black;">Nouveau contenu ajouté</a> </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="deleteNote()">
        <ion-icon slot="end" name="trash" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-content>
