<ion-content class="background">

  <ion-text class="text-align-center">
    <h1 style="color: white !important;">Bienvenue !</h1>
    <p style="color: white !important;"> Entrez vos informations ! <br>
      <ion-icon style="color: white !important;" class="arrow-down" name="arrow-down"></ion-icon>
    </p>
  </ion-text>
  <div class="content">
    <div class="contenu-all">
      <div class="button-action">
        <ion-button fill="clear" size="small" color="dark">
          <b>
            <p class="signin-text">Connexion</p>
          </b>
        </ion-button>
        <ion-button fill="clear" size="small" color="dark" (click)="registerPage()">
          <b>
            <p class="signup-text">Inscription</p>
          </b>
        </ion-button>
      </div>
      <form action="" method="post" class="ion-padding" #loginForm="ngForm" (ngSubmit)="login()">
        <ion-input placeholder="Adresse Mail" type="email" #email="ngModel" class="form-control"
          [(ngModel)]="user.username" name="username" style="padding-left: 10px !important;" required email>
          <ion-icon name="mail" style="margin-right:5px; font-size:medium;"></ion-icon>
        </ion-input>
        <div *ngIf="email.invalid && email.touched">
          <ion-text color="danger text-center">
            <p style="font-size: small; text-align:center;">Entrez une bonne adresse!</p>
          </ion-text>
        </div>
        <br>

        <ion-input [type]="type ? 'password' : 'text'" placeholder="Mot de passe" type="password"
          style="padding-left: 10px !important;" #password="ngModel" class="form-control" [(ngModel)]="user.password"
          name="password" required password>
          <ion-icon (click)="changeType()" name="eye" style="margin-right:5px; font-size:medium;"></ion-icon>
        </ion-input>
        <div *ngIf="password.invalid && password.touched">
          <ion-text color="danger text-center">
            <p style="font-size: small; text-align:center;">Entrez un bon mot de passe!</p>
          </ion-text>
        </div>

        <p id="forgotpassword" (click)="forgotPassword()">Mot de passe oublié?</p>

        <div class="btn">
          <ion-button type="submit" class="actionbutton" expand="full" fill="clear"
             style="text-transform: none; font-weight: bold;">Connexion</ion-button>
        </div>
      </form>
      <ion-grid>
        <ion-row class="container-textes">

        </ion-row>
        <ion-row>
          <ion-col class="line" size="5">

          </ion-col>
          <ion-col size="2" style="text-align: center;">
            Ou
          </ion-col>
          <ion-col class="line" size="5">

          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button class="fbbutton" expand="full" fill="clear">
        <ion-icon name="logo-facebook"></ion-icon>&nbsp;<b>Facebook</b>
      </ion-button>
      <ion-button class="googlebutton" expand="full" fill="clear">
        <ion-icon name="logo-google"></ion-icon>&nbsp;<b>Google</b>
      </ion-button>
    </div>
  </div>
</ion-content>
