/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
 /*leaflet css*/
@import "~leaflet/dist/leaflet.css";

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*fonts families*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Artifika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,100&family=Lexend+Deca:wght@300&family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,100&family=Lexend+Deca:wght@300&family=Signika+Negative:wght@300&family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,100&family=Lexend+Deca:wght@300&family=Signika+Negative:wght@300&family=Tapestry&family=Work+Sans&display=swap');

/*police universelle*/
* {
  // font-family: 'Signika Negative', sans-serif;
  // font-family: 'Work Sans', sans-serif;
  // font-family: 'Averia Gruesa Libre', cursive;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Lato', sans-serif;
  transition: .3s ease-in-out;
}

body {
  --background: white
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0 0 0;
  box-shadow: 0px 1px 5px 0px #cdc6c6;
}


ion-tab-bar {
  --border: 0px solid var(--ion-tab-bar-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.2))));
  box-shadow: 0 -1px 2px #ababab;
}
.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}
