<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil">
      <ion-icon name="home" class="accueil"></ion-icon>
      <!-- <ion-label>Accueil</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="rechercher">
      <ion-icon name="compass" class="rechercher"></ion-icon>
      <!-- <ion-label>Rechercher</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="ajouter">
      <ion-icon name="add-circle" class="ajouter" ></ion-icon>
      <!-- <ion-label>Ajouter</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="statistiques">
      <ion-icon name="stats-chart" class="statistiques"></ion-icon>
      <!-- <ion-label>Stats</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="person" class="profil" ></ion-icon>
      <!-- <ion-label>Moi</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
